<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true">

	<targets>
		<!--
		<target name="error_file" xsi:type="File" fileName="error.log" />
		<target name="info_file" xsi:type="File" fileName="info.log" />
		<target name="log_console" xsi:type="Console" />
		-->
		
		<target name="error_file" xsi:type="File" fileName="${basedir}/logs/error/${shortdate}.log" />
		<target name="info_file" xsi:type="File" fileName="${basedir}/logs/info/${shortdate}.log" />
		<target name="log_console" xsi:type="Console" />
		

		<!--
		<target name="error_file" xsi:type="File" fileName="${basedir}/logs/error/${date:format=yyyy-MM-dd H-mm-ss}.log" />
		<target name="info_file" xsi:type="File" fileName="${basedir}/logs/info/${date:format=yyyy-MM-dd H-mm-ss}.log" />
		<target name="log_console" xsi:type="Console" />
		-->

		<!-- 
		<target name="log_file" xsi:type="File" fileName="log_file.log" /> 
		<target name="log_console" xsi:type="Console" />
		-->
	</targets>

	<rules>
		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="Microsoft.*" maxLevel="Info" final="true" />

		<logger name="*" minLevel ="Error" writeTo="error_file" />
		<logger name="*" maxLevel="Warn" writeTo="info_file" />
		<logger name="*" writeTo="log_console" />

		<!--
		<logger name="*" writeTo="log_console" />
		<logger name="*" writeTo="log_file" /> -->
	</rules>
</nlog>