@page "/"
@using RentalStore.BlazorClientv2.Services
@inject IEquipmentService EquipmentService

<div class="d-flex align-content-center justify-content-center">
    <div class="banner">
        <div class="banner-text">
            <h1 class="display-3">Rental Store Company</h1>
            <p>Your go-to source for all sports equipment rentals. From skis to bicycles, we have it all. Rent online today and enjoy top-quality gear!</p>
            <footer class="blockquote-footer text-white"><cite title="Source Title">The Rental Store Team</cite></footer>
        </div>
    </div>
</div>

<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
        align-content: center;
    }

    .banner {
        box-sizing: border-box;
        height: calc(100vh - 56px); 
        width: 100vw;
        background-image: url('/images/banner4.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding-top: 56px;
    }

    .banner-text {
        background-color: rgba(13, 110, 253, 0.75);
        color: white;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
        box-sizing: border-box;
    }

        .banner-text h1 {
            font-size: 4rem;
        }

        .banner-text p {
            font-size: 1.5rem;
        }
</style>
