@inherits LayoutComponentBase

<nav class="navbar navbar-expand-lg bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand text-white" href="#">Rental Store</a>
    </div>
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-around" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <NavLink class="nav-link text-white align-content-center" href="equipment">
                    <h5 class="m-0">Equipment</h5>
                </NavLink>
                <NavLink class="nav-link text-white align-content-center" href="">
                    <h5 class="m-0">About Us</h5>
                </NavLink>
                <NavLink class="nav-link text-white align-content-center" href="">
                    <h5 class="m-0">Contact</h5>
                </NavLink>
            </div>
            <div class="navbar-nav">
                <NavLink class="nav-link text-white" href="/cart">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bag-check-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0m-.646 5.354a.5.5 0 0 0-.708-.708L7.5 10.793 6.354 9.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0z" />
                    </svg>
                </NavLink>
            </div>
        </div>
    </div>

</nav>


<div class="container">
    <div class="row">
        <div class="col-12">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="Blazored.Toast.Configuration.ToastPosition.TopRight"
                Timeout="10"
                IconType="Blazored.Toast.Configuration.IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                WarningIcon="fa fa-warning"
                InfoIcon="fa fa-info-circle">
</BlazoredToasts>